@import UserController._
@import helper._
@import views.html.templates.main

@(user: Form[LoginForm])(implicit msg: Messages, flash: Flash, session: Session)
@main(msg("login")) {
    <a href="@routes.UserController.getRegister()">@msg("register")</a>
    @form(routes.UserController.postLogin()) {
        @inputText(user(email))
        @inputPassword(user(password))
        <div><input type="submit" value="@msg("login")"/></div>
        <div><a href="@routes.GoogleController.withGoogle()">with Google</a></div>
    }
}
