@import VisitorController._
@import helper._
@import views.html.templates.main

@(user: Form[NewVisitorForm])(implicit msg: Messages, flash: Flash, session: Session)
@main(msg("newVisitor")) {
    <a href="@routes.LmsApp.index()">@msg("home")</a>
    @form(routes.VisitorController.postNewVisitor()) {
        @inputText(user(firstName))
        @inputText(user(lastName))
        @inputText(user(middleName))
        @inputText(user(extraName))
        <input type="submit" value="@msg("newVisitor")"/>
    }
}
