@import UserController._
@import helper._
@import views.html.templates.main

@(user: Form[RegisterForm])(implicit msg: Messages, flash: Flash, session: Session)
@main(msg("register")) {
    <a href="@routes.UserController.getLogin()">@msg("login")</a>
    @form(routes.UserController.postRegister()) {
        @inputText(user(email))
        @inputPassword(user(password))
        @inputPassword(user(verify))
        <div><input type="submit" value="@msg("register")"/></div>
        <div><a href="@routes.GoogleController.withGoogle()">with Google</a></div>
    }
}
