@(user: Form[RegisterForm])(implicit messages: Messages, flash: Flash)

@import helper._

@mainFlashToUser(messages("Register")) {
    <h1>@messages("Register")</h1>
    <a href="@routes.UserController.getLogin()">Login</a>
    @form(routes.UserController.postRegister()) {
        @inputText(user(UserController.name))
        @inputPassword(user(UserController.password))
        @inputPassword(user(UserController.verify))

        <div class="buttons">
            <input type="submit" value="@messages("Register")"/>
        </div>
    }
}
