body {
    background-color: #eee;
    padding-left: 10px;
    padding-right: 10px;
}

body h1 {
    color: #555555;
    font-family: 'Roboto Condensed', sans-serif;
}

#streams {
    padding: 20px;
}

#streams body h1 {
    font-size: 250%
}

#streams h1 a {
    float: right;
}

#streams h1 a img {
    height: 40px;
}

#lineChart {
    border: 1px dashed #888;
    background-color: #fff;
}

#source {
    display: block;
    padding-top: 20px;
    color: #7788aa;
    text-decoration: none;
    font-weight: bold;
}