[Unit]
Description=Starts cjdroute
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/bin/sh -c "exec /home/ubuntu/{{ service_name }}/cjdroute --nobg < /home/ubuntu/{{ service_name }}/cjdroute.conf"
Restart=always

[Install]
WantedBy=multi-user.target
