[Unit]
Description=Starts web
After=syslog.target network.target

[Service]
Type=simple
# This points to the shell script that activator created for you
ExecStart=/home/ubuntu/server-0.1-SNAPSHOT/bin/server -Dconfig.file=/home/ubuntu/production.conf

[Install]
WantedBy=multi-user.target
