@(title: String)(content: Html)(implicit msg: Messages, flash: Flash, session: Session)

<!DOCTYPE html>

<html>
    <head>
        <title>@msg("libraryManagementSystem") - @title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")"/>
    </head>
    <body>
        @flash.get(controllers.flashToUser).map { f => <div class="flashToUser">@f</div> }
        @content
    </body>
</html>
