body {
  background-color: #eee;
}

h1 {
  color: #555555;
  font-family: 'Roboto Condensed', sans-serif;
}

dd.info {
  display: none;
}

dd.error {
  color: red;
}

div.userFrom > form > dl > dt {
  float: left;
  width: 65px;
}

.logo {
  float: right;

  img {
    height: 35px;
  }
}

#lineChart {
  height: 250px;
  border: 1px dashed #888;
  background-color: #fff;
}

#toSource {
  display: block;
  padding-top: 20px;
  color: #7788aa;
  text-decoration: none;
  font-weight: bold;
}
