dl {
  dd.info {
    display: none;
  }

  dd.error {
    color: red;
  }
}

.logo {
  float: right;

  img {
    height: 35px;
  }
}

#lineChart {
  height: 250px;
  border: 1px dashed #888;
  background-color: #fff;
}

.icon-bar {
  background-color: #337AB7;
}

.lms-form-nav {
  margin-bottom: 0;
}
